.container {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 50;
}
.encybtn {
  margin: 10px;
  width: 10rem;
  height: 3rem;
  font-family: "Yeon Sung", cursive;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  background-color: var(--button-color);
  &:hover {
    color: var(--button-color);
    background-color: white;
  }
}
