.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  padding-left: 5rem;
  padding-top: 10rem;
}
.button {
  color: var(--button-color);
}
.backgroundImg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 1200px;
  height: 300px;
}
