@import "@/media.scss";

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 5rem;
  margin-top: 5rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
