@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.container {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 10rem;
  animation: spin 1.5s ease-in infinite;
  animation-timing-function: ease-in-out;
}
