.container {
  overflow-x: hidden;
  padding-left: 1rem;
}

.logo {
  width: 10rem;
  height: 10rem;
}
.textContainer {
  margin-left: 1rem;
}
.name {
  font-size: 4rem;
  font-family: "Sunshiney", cursive;
}
.subname {
  font-size: 2rem;
}
