@import "@/media.scss";

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 85vw;
  height: 80vh;
  top: 15%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  padding: 3rem;
  border-radius: 20px 20px 20px 20px;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.summary {
  @include tablet {
    display: flex;
    gap: 3rem;
    max-height: 30rem;
  }
}

.imageSection {
  position: relative;
  flex: 1;
  width: 70vw;
  min-width: 20rem;
  max-width: 30rem;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
  @include tablet {
    width: 30%;
  }
}

.dataSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 12rem;
  padding: 2rem;
  color: white;
}

.dataHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  width: 25rem;
  height: 12rem;
  padding-top: 2rem;
  color: white;
  align-items: flex-start;
  float: left;
  & > h1 {
    font-size: 2.1rem;
    font-weight: 900;
  }
  @include desktop {
    float: left;
  }
}

.simpleDesc {
  display: flex;
  flex-direction: column;
}

.dataDesc {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
  & > p {
    color: white;
    word-break: break-all;
    white-space: pre-line;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
}

.detailDesc {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  & > p {
    color: white;
    word-break: break-all;
    white-space: pre-line;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.closeButton {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  & > img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 0.75rem;
    top: 0.75rem;
  }
}
