.container {
  width: 100%;
  height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  gap: 5px;
}

.searchSection {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logoImg {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
}

.logoName {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: "Sunshiney", cursive;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  width: 15rem;
  height: 2rem;
}

.searchInput {
  width: 13rem;
  height: 3rem;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  &:focus {
    border-color: blueviolet;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.searchbtn {
  margin: -10px;
  width: 3rem;
  height: 3rem;
  border-width: 1px;
  padding: 5px;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-color: black;
  z-index: 10;
}

.navline {
  width: 100%;
  height: 5px;
  border-radius: 10px;
}
